# Azure Functions runtime
azure-functions

# Messaging (Service Bus)
azure-servicebus

# Metadata/state (Cosmos DB)
azure-cosmos

# input/output files
azure-storage-blob
azure-identity

# Authentication
PyJWT==2.8.0
cryptography==42.0.5
requests==2.31.0
Pillow==10.4.0
